<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario de Venta</title>
  <link rel="stylesheet" href="{% static 'aplicacion/css/index.css' %}">
</head>

<body>
  <div class="form-container">
    <h2>Venta</h2>

    <!-- Formulario para que se genere csrf token -->
    <form id="ventaForm" onsubmit="event.preventDefault(); realizarVenta();">
      {% csrf_token %}

      <label for="productoNombre">Buscar Producto (Nombre):</label>
      <input type="text" id="productoNombre" placeholder="Ingrese nombre del producto" />
      <button type="button" onclick="buscarProducto()">Buscar</button>

      <div id="stock-list">
        <!-- Este bloque se llena dinámicamente con JS desde la API -->
      </div>

      <label for="sucursal">Sucursal:</label>
      <select id="sucursal">
        <!-- Opciones dinámicas que llenaremos con las sucursales disponibles -->
      </select>

      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" min="1" placeholder="Ingrese cantidad" />

      <button type="button" id="calc" onclick="calcularTotal()">Calcular</button>

      <div id="resultado">
        <p>Total en CLP:<span id="total">0</span></p>
        <p>Total en USD:<span id="total-usd">0</span></p>
      </div>

      <button type="submit">Venta</button>
      <p id="mensaje"></p>
      <div id="toast-container"></div>
    </form>
  </div>

  <script src="{% static 'aplicacion/js/index3.js' %}"></script>
      <script src="{% static 'aplicacion/js/stock_alerts.js' %}"></script>
</body>

</html>
