<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacion/css/index.css' %}">
    <title>Pagina de inicio</title>
</head>
<body>
    <div class="venta-container">
        <div class="venta-header">Venta</div>
    
        <form class="search-section">
            <input type="text" class="form-control" placeholder="Buscar">
            <button class="btn btn-primary">🔍</button>
        </form>
        
    
        {% for item in productos %}
            <div class="producto-item">
                <strong>{{ item.sucursal }}</strong><br>
                Cant: {{ item.cantidad }} | Precio: {{ item.precio }}
            </div>
            {% if forloop.counter == 3 %}
                <div class="separador"></div>
            {% endif %}
        {% endfor %}
    
        <form method="POST">
            {% csrf_token %}
            <select name="sucursal" class="form-select">
                {% for item in productos %}
                    <option value="{{ item.sucursal }}">{{ item.sucursal }}</option>
                {% endfor %}
            </select>
    
            <input type="number" name="cantidad" class="form-control" placeholder="Cantidad">
    
            <button type="submit" name="calcular" class="btn btn-info btn-calc">Calcular</button>
        </form>
    
        {% if total %}
            <div class="total-section">
                Total: {{ total }}
            </div>
        {% endif %}
    
        <button class="btn btn-success btn-venta">Venta</button>
    </div>
    
    
</body>
</html>